<div>
  <!-- <div class="header-container">
        
        <div class="row no-margin bg-dark-red sec-header">
            <div class="col s12 text-right">
                <ul class="top-bar-links">
                   <li><a><button class="filter-btn" >Category</button></a></li>
                   <li><a><button class="filter-btn" >Category</button></a> </li>
                   <li><a><button class="filter-btn" >Category</button></a> </li>             
                    <li class="sec-menu-item"><app-filter  (filterPrice)='filterPrice($event)'></app-filter></li>
                    
                </ul>
            </div>
        </div> 
    </div> -->
       
    <div class="site-wrapper " id="site-wrapper">
    <div class="selection-bar-w absolute top-0-left-0 full-width">
      <div class="selection-bar-w">
          <div class="selection-bar selection-bar-static row no-margin">
              <ul class="top-bar-links">
                <li><a>Kids</a></li>
                <li><a>Men</a> </li>
                <li><a>Women</a> </li>             
                <!-- <li ><app-filter  (filterPrice)='filterPrice($event)'></app-filter></li>  -->
              </ul>
          </div>
      </div>
  </div>
  </div>
    <br><br>
    <app-searchproduct></app-searchproduct>
    </div>