<app-header></app-header>
<div style="margin-top: 100px;" class="container">
	<div style="text-align: left; float: right; clear: right;">
		<a [routerLink]="['/editshipping']" style="border-radius: 6px;"
			class="btn btn-md btn-success"><span
			style="padding-top: 3px; padding-bottom: 5px;"
			class="glyphicon glyphicon-plus"></span>Add Address</a>
	</div>
	<br>
	<hr />
	
		<div 	class="col-md-3 boxed" *ngFor="let order of orderList;let i = index">
			<a (click)="removeAddress(i)"
				class="btn btn-sm btn-danger" id="del"><span
				class="fa fa-trash"></span></a>
				<!-- <a	class="btn btn-sm btn-warning" id="edit"><span
				class="fa fa-pencil"></span></a> -->
			<div style="text-align: center;">
				<strong style="padding-right: 5px; word-wrap: break-word;">Name:</strong>{{order.name}}</div>
			<div style="text-align: center;">
				<strong style="padding-right: 5px; word-wrap: break-word;">Address:</strong>{{order.address}} </div>
			<div style="text-align: center;">
				<strong style="padding-right: 5px; word-wrap: break-word;">PhoneNo:</strong>{{order.contactnumber}}</div>
			<div style="text-align: center; margin-bottom: 10px;">
				<a routerLink="/receipt" [queryParams]="{ order: order.id }"
					style="border-radius: 6px; margin-top: 10px;" class="btn btn-md btn-info"><span
					class="fa fa-envelope"></span> Deliver</a>
			</div>
		</div>

		<div *ngIf="orderList?.length < 1">
			<p>you don't have any saved address..click ADD ADDRESS</p>
	</div>
</div>