<!-- <div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="brand_select">By Brands:</label>
      <select class="form-control" name="" id="brand_select" [(ngModel)]="selectedBrand">
        <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
      </select>
    </div>
    </div>
    </div>
     -->
  <!--   transform(items: any, select?: any): any {
    if (select !== "All") {
      return select
        ? items.filter(item => item["name"] === select)
        : items;
    } else {
      return items;
    }
  } -->