<!-- <div class="header">
  <div class="container">
    <ul class="nav nav-pills"> -->
      <!-- <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/pricefilter']"> price</a></li> -->
      <!-- <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/gifts']"> Gifts</a></li> -->
       <!-- <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/giftscarousel']"> carousel</a></li> -->
      <!-- <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/productconfig']"> Product Configuration</a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/manageproductconfig']"> Manage Product  </a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/searchproduct']"> Products </a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/pollconfigcreate']"> Poll Configuration </a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/managepollconfig']">Manage Poll Configuration </a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/publishedpolls']">Published Polls </a></li>
      <li class="nav-item"> -->
       <!--  <div class="topcorner"> -->
          <!-- <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/ordersummary']">
            <app-cart></app-cart>
          </a> -->
        <!-- </div> -->
      <!-- </li>
    </ul>
  </div>
</div> -->
<div class="content">
  <router-outlet (refreshShoppingCart)="refreshShoppingCart()"></router-outlet>
</div>