<html>
<head>
<!-- 	<link rel="stylesheet" type="text/css" href="./../assets/product/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./../assets/product/util.css">
	<link rel="stylesheet" type="text/css" href="./../assets/product/main.css"> -->
</head>
<body>
	

<!--   <div class="well"> -->
    <div class="row">
      <div class="form-group col-sm-12">
        <div id="errorDiv" class="form-group" style="background-color: #0d5d17;text-align:center">
          <h3>
            <font color="white">{{successMsg}}</font>
          </h3>
        </div>
      </div>
    </div>
    

    
		
			<div class="row isotope-grid">
			
				<!-- <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women"> -->
					<!-- Block2 -->  
       
					
					 <li *ngFor="let product of productList; let i = index" style="width: 249px; height: 356px;">
						<div class="block2-pic hov-img0" style="width: 233px;height: 283px;">
							<img [src]="imgdatapreffix+product.content_type+imgdatasuffix+product.content" style="height: 282px;" alt="IMG-PRODUCT">
					
							<a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
				 	 <label *ngIf="product.available_quantity<=10" class="control-label">{{product.available_quantity}}</label><br/>
                    <label class="control-label">Quantity:</label>
                    <select name="qty_{{product.id}}" id="qty_{{product.id}}">
                      <option value="1">1</option>   
                      <option value="2">2</option>   
                      <option value="3">3</option>   
                      <option value="4">4</option>   
                      <option value="5">5</option>   
                    </select><br/>
                    <button type="button" (click)="addToCart(product)" class="hove" style="height: 40px;
    width: 110px;">Add To Cart</button>
							
							</a>
						</div>
						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="#" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{product.name}}
								<br>
								<span class="stext-105 cl3">
									{{getCurrency()}} {{product.price}}
								</span>
								</a>
							</div>
						</div>
						</li>
					
					
	
				
			</div>
		
		
	
    
    
<!--     <div> 
      <ul class="card-group row" id="cards-default">
        <li class="column s4 redirectItem" *ngFor="let product of productList; let i = index">
            <div class="card z-depth-1 hoverable">
                <div class="card-image"><img alt="Birthday Gifts" class="img-responsive card-image-p redirectItem" [src]="imgdatapreffix+product.content_type+imgdatasuffix+product.content" data-url="/birthday-gifts">
                   
                </div>
                <a>
                  <div>
                    <label class="control-label">{{product.name}}</label><br/>
                    <label class="control-label">{{product.description}}</label><br/>
                    <label class="control-label">{{getCurrency()}} {{product.price}}</label><br/>
                    <label *ngIf="product.available_quantity<=10" class="control-label">{{product.available_quantity}}</label><br/>
                    <label class="control-label">Quantity:</label>
                    <select name="qty_{{product.id}}" id="qty_{{product.id}}">
                      <option value="1">1</option>   
                      <option value="2">2</option>   
                      <option value="3">3</option>   
                      <option value="4">4</option>   
                      <option value="5">5</option>   
                    </select><br>
                    <button type="button" (click)="addToCart(product)">Add To Cart</button>
                  </div>
                </a>
                <div class="hide int_titl"></div>
            </div>
        </li>
</ul>
   </div> -->
   
    <div class="row">
      <div class="form-group col-sm-9">
      </div>
      <div class="form-group col-sm-3">
        <button type="button" (click)="proceedToOrderSummary()">Proceed To Order Summary</button>
      </div>
    </div>
<!--   </div> -->


<!-- 	<script src="./../assets/product/jquery-3.2.1.min.js"></script>
	<script src="./../assets/product/animsition.min.js"></script>
	<script src="./../assets/product/main.js"></script> -->
</body>
</html>